/******************************************
  Variables
******************************************/

/************** Theme Color **************/
$theme-dark-background:                    $color-dark-grey;
$theme-dark-background-separator:          $color-semi-dark-grey;

$theme-favorite-active:                    $color-semi-red;

$theme-border:                             $color-semi-white-grey;

/* ************************************ */
