/** This Place For Reset **/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.#{$namespace} {
  & .main {
    &.blank {
      background: white;
    }
  }

  & .text {
    &-header {
      font-size: 20px;
    }

    &-subheader {
      font-size: 16px;
    }

    &-small {
      font-size: 12px;
    }

    &-grey {
      color: $color-text-grey;
    }
  }

  & .no-border {
    border: none !important;
  }
}

/* ************************************ */
